
.user {
  padding: 20px 0;
  position: relative;
  &__back {
    position: absolute;
    top: -40px;
    left: 0;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__reverse {
    display: inline-block;
    position: relative;
    transform: rotate(180deg);
  }
  &__row {
    display: flex;
    align-items: center;
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  &__info {
    flex: 1;
    margin-left: 100px;
  }
  &__data {
    font-size: 18px;
    color:#333;
    font-weight: 500;
    margin-bottom: 10px;
    &.bio {
      margin-top: 40px;
      text-align: center;
    }
  }
}
.form {
  width: 100%;
  &__input {
    display: block;
    width: 60%;
    margin: 30px auto;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #333;
    outline: none;
    &:focus {
      background: #daffff;
      border: 2px solid #0454e3;

    }
  }
}

.repo {
  display: flex;
  width: 100%;
  padding: 20px;
  border: 2px solid #333;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background 0.2s linear;
  &:hover {
    background: #fff6d8;
  }

  &__stat {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
  }
  &__title {

  }
}